/*ALL*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --pinkcolor: #cb006c;
  --greycolor: #f1f1f1;
  --greycolortwo: #6f6f83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  padding: 20px;
  width: 50%;
  margin: auto;
}
h1 {
  font-size: 3em;
}
h4 {
  color: var(--greycolortwo);
}
a {
  text-decoration: none;
}
img {
  width: auto;
  height: 100%;
}
label {
  color: var(--greycolortwo);
  font-weight: bold;
}
.separate {
  border-top: 1px solid var(--greycolortwo);
}
.align_center {
  align-items: center;
}
.padding_10px {
  padding: 0.65em 0;
}
.confort_div {
  align-items: center;
}
.textEnd {
  text-align: end;
}
.uppercase {
  text-transform: uppercase;
}
.dFlex {
  display: flex;
}
.sp_btween {
  justify-content: space-between;
}
.grey-bgc {
  background-color: var(--greycolor);
}
.pinktext {
  color: var(--pinkcolor);
}

.greytext {
  color: var(--greycolortwo);
}
.greypart {
  padding: 0.8em;
}

/*form*/
.form_options {
  justify-content: center;
}
/*btn*/
.whitebtn {
  padding: 0.6em;
  border-radius: 5px;
  color: var(--pinkcolor);
  font-weight: bold;
}

.redbtn {
  padding: 0.6em;
  border-radius: 5px;
  background-color: var(--pinkcolor);
  color: #ffffff;
  font-weight: bold;
}
