/*ALL*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --pinkcolor: #cb006c;
  --greycolor: #f1f1f1;
  --greycolortwo: #6f6f83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  padding: 5px;
  margin: auto;
  width: 50%;
}
h1 {
  font-size: 3em;
}
a {
  text-decoration: none;
}
img {
  width: auto;
  height: 100%;
}
hr {
  color: var(--greycolortwo);
}
.textEnd {
  text-align: end;
}
.uppercase {
  text-transform: uppercase;
}
.dFlex {
  display: flex;
}
.sp_btween {
  justify-content: space-between;
}
.grey-bgc {
  background-color: var(--greycolor);
}
.pinktext {
  color: var(--pinkcolor);
}

.greytext {
  color: var(--greycolortwo);
}

label {
  color: var(--greycolortwo);
}
/*btn*/
.whitebtn {
  padding: 0.6em;
  border-radius: 5px;
  color: var(--pinkcolor);
}

.redbtn {
  padding: 0.6em;
  border-radius: 5px;
  background-color: var(--pinkcolor);
}
